<nav class="nav-container">
    <h3>
         <a href="/pages/index.html">
            <span>Kaique <b>Melo</b></span>
         </a>
    </h3>     
    <ul class="list-container">
        <li>
            <a href="../pages/education.html">
                Formação
            </a>
        </li>
        <li>
            <a href="https://kai-dev-portfolio.vercel.app">
                Portfólio
            </a>
        </li>
        <li>
            <a href="../pages/contact.html">
                Contato
            </a>
        </li>
        <li>
            <a href="../pages/about.html">
                Sobre
            </a>
        </li>
    </ul>
</nav>